@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Arsenal", sans-serif;
}

body {
  background: #dae9f9;
  min-height: 100vh;
}

/* Контейнер для іконок */
.icons {
  left: 50%;
  margin-top: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* Висота контейнера */
}

.icons a {
  background: #ecf0f3;
  position: relative;
  height: 60px;
  width: 60px;
  margin: 0 10px;
  display: inline-flex;
  text-decoration: none;
  border-radius: 50%;
  transition: all 0.3s;
  box-shadow: -3px -3px 7px #ffffff,
    3px 3px 5px #ceced1;
}

.icons a:hover:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  background: #ecf0f3;
  box-shadow: inset -3px -3px 7px #ffffff,
    inset 3px 3px 5px #ceced1;
}

.icons a i {
  position: relative;
  z-index: 3;
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 25px;
  line-height: 60px;
}

.icons a:hover i {
  transform: scale(0.9);
}

.icons a.fb i {
  color: #4267B2;
}

.icons a.twitter i {
  color: #1DA1F2;
}

.icons a.insta i {
  color: #E1306C;
}

.icons a.git i {
  color: #333;
}

.icons a.yt i {
  color: #ff0000;
}


nav {
  background: #0082e6;
  height: 80px;
  width: 100%;
  position: relative;
  z-index: 1000;
}

label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active,
a:hover {
  background: #1b9bff;
  transition: .5s;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }

  nav ul li a {
    font-size: 16px;
  }

  .icons {
    left: 50%;
    margin-top: 50px;
  }
}

@media (max-width: 402px) {
  label.logo {
    font-size: 20px;
    padding-left: 50px;
  }

  nav ul li a {
    font-size: 16px;
  }

  .icons {
    left: 50%;
    margin-top: 50px;
  }
}

@media (max-width: 360px) {
  label.logo {
    font-size: 15px;
    padding-left: 50px;
  }

  nav ul li a {
    font-size: 16px;
  }

  b {
    font-size: 12px;
  }

  h3 {
    font-size: 10px;
  }

  .icons {
    left: 50%;
    margin-top: 50px;
  }
}

@media (max-width: 1218px) {
  .checkbtn {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    z-index: 1000; /* Зробити меню поверх всього */
    overflow-y: auto; /* Додати прокручування для довгого меню */
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
  }

  a:hover,
  a.active {
    background: none;
    color: #0082e6;
  }

  #check:checked~ul {
    left: 0;
    position: fixed; /* Зробити меню нерухомим */
  }

  .icons {
    left: 50%;
    margin-top: 50px;
  }
}

.no-scroll {
  overflow: hidden;
}

@media (max-width: 1718px) {
  .icons {
    left: 50%;
    margin-top: 50px;
  }
}

@media (max-width: 1919px) {
  .icons {
    left: 50%;
    margin-top: 50px;
  }
}

.text h1 {
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 75px;
  color: #262c33;

  font-family: "Arsenal", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.text h3 {
  font-family: "Arsenal", sans-serif;
  font-weight: 100;
  font-style: normal;
}