body {
  background-color: #E9F1FA;
  
  flex-direction: row;
  height: 100vh;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.shadow-link {
  text-shadow: 0px 1px 10px rgba(0, 0, 0, 25);
}

a {
  text-decoration: none;
  color: White;
}

a:hover {
  color: yellow;
}

#logoContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

#logoContainer img {
  animation: shadow-animation 2s infinite alternate;
  background-color: rgba(0, 0, 0, 0);
  filter: drop-shadow(0 0 5px rgba(255, 255, 255, 5));
  width: 150px;
  height: 150px;
  cursor: pointer;
}

@keyframes shadow-animation {
  0% {
    filter: drop-shadow(0 0 5px #ffffff);
  }
  100% {
    filter: drop-shadow(0 0 5px #0578c9);
  }
}


.login {
  float: right;
  margin: 10px;
}

.reg {
  transition: background-color 0.01s ease-in-out, color 0.1s ease-    in-out;

  display: inline-block;
  padding: 5px 44px;
  background: #fff;
  border: 2px solid #dae9f9;
  border-radius: 9px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 25px;
  color: #444;
  text-decoration: none;
  font-weight: 600;
}

.reg:hover {
  background: #00ABE4;
  color: #fff;
  backdrop-filter: blur(10px);
}

#leftSide {
  background: linear-gradient(to right, #dae9f9 0%, #c1deff 100%);

  /* background-color: #dae9f9; */
  display: flex;
  gap: 20px;
}

#menuContainer {  
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#menuContainer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#menuContainer ul li {
  margin-bottom: 10px;
}

#menuContainer ul li a {
  transition: background-color 0.1 ease-in-out, color 0.1s ease-in-out;

  /*налаштування кнопок історія, рекомендації і тд.*/
  border: 2px solid #dae9f9;
  display: flex;
  align-items: center;
  padding: 5px 15px;
  background-color: #FFFFFF;
  border-radius: 100px;
  text-decoration: none;
  color: #333;
  font-size: 16px;
}
#menuContainer ul li a:hover {
  background-color: #00ABE4;
  color: #fff;
}

#menuContainer ul li a img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

#videoContainer {
  display: flex;
  flex-direction: column;
  align-items: center; 
  box-shadow: 0px 0px 5px 1px #0095c7;
  background: radial-gradient(circle at center, #9ab6c0 0%, #00ABE4 100%);

}

#videoContainer iframe {
  border-radius: 2%;
  box-shadow: 0 0 0.8em rgba(0, 0, 50, 50);
  width: 90%;
  height: 700px;
  object-fit: cover; /* Розтягування відео на всю область */
}

#videoContainer h2 {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
  font-size: 26px;
}

#videoContainer p {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
  font-size: 26px;
}




#listVideo{
  background-color: #00ABE4;
}

#listVideo iframe{
  border: 1px solid #005ea2;
  border-radius: 10px;

  box-shadow: 0 0 0.7em #033457;
}
