* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Arsenal", sans-serif;
  }
  
  body {
    background: #dae9f9;
    height: 100vh;
    margin: 0;
  }
  
  nav {
    background: #0082e6;
    height: 80px;
    width: 100%;
    position: relative;
    z-index: 1000;
  }
  
  label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }
  
  nav ul {
    float: right;
    margin-right: 20px;
  }
  
  nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  
  nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  
  a.active,
  a:hover {
    background: #1b9bff;
    transition: .5s;
  }
  
  .checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  
  #check {
    display: none;
  }
  
  @media (max-width: 952px) {
    label.logo {
      font-size: 30px;
      padding-left: 50px;
    }
  
    nav ul li a {
      font-size: 16px;
    }
  }
  
  @media (max-width: 402px) {
    label.logo {
      font-size: 20px;
      padding-left: 50px;
    }
  
    nav ul li a {
      font-size: 16px;
    }
  }
  
  @media (max-width: 340px) {
    label.logo {
      font-size: 15px;
      padding-left: 50px;
    }
  
    nav ul li a {
      font-size: 16px;
    }
  }
  
  @media (max-width: 1218px) {
    .checkbtn {
      display: block;
    }
  
    ul {
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
  
    nav ul li {
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
  
    nav ul li a {
      font-size: 20px;
    }
  
    a:hover,
    a.active {
      background: none;
      color: #0082e6;
    }
  
    #check:checked~ul {
      left: 0;
    }
  }
  
  main.table {
    margin: 10px auto;
    width: 90vw;
    height: 90vh;
    background-color: #93cee1;
    border-radius: .8rem;
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  
  .table_header {
    width: 100%;
    height: 5%;
    padding: 1rem 1rem;
    display: flex;
    justify-content: center;
  }
  
  .table_body::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }
  
  .table_body::-webkit-scrollbar-thumb {
    border-radius: 5rem;
    visibility: hidden;
  }
  
  .table_body:hover::-webkit-scrollbar-thumb {
    visibility: visible;
  }
  
  td img {
    width: 50px;
    height: 50px;
    margin-right: .5rem;
    border-radius: 50%;
    vertical-align: middle;
    transition: transform 0.3s ease;
  }
  
  a {
    transition: transform 0.3s ease;
  }
  
  a:hover {
    transform: scale(1.3);
  }
  
  td img:hover {
    transform: scale(1.3);
  }
  
  table,
  th,
  td {
    border-collapse: collapse;
    padding: 1rem;
  }
  
  .table_body {
    width: 99%;
    max-height: calc(94% - .8rem);
    background-color: rgba(222, 248, 251, 0.733);
    margin: .7rem auto;
    border-radius: .6rem;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }
  
  thead th {
    position: sticky;
    top: 0;
    background-color: #b5cfe1fe;
  }
  
  tbody td {
    text-align: center;
    padding: 1rem;
  }
  
  tbody tr:nth-child(even) {
    background-color: #0000000b;
  }
  
  tbody tr:hover {
    background-color: #fff6;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  a:hover {
    color: #48206a;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    main.table {
      width: 100vw;
    }
  
    .table_body {
      max-height: 80vh;
    }
  
    table, th, td {
      padding: 0.5rem;
    }
  
    td img {
      width: 30px;
      height: 30px;
    }
  
    a:hover {
      transform: scale(1.1);
    }
  
    td img:hover {
      transform: scale(1.1);
    }
  }
  
  @media (max-width: 480px) {
    main.table {
      width: 100vw;
    }
  
    .table_body {
      max-height: 70vh;
    }
  
    table, th, td {
      padding: 0.3rem;
    }
  
    td img {
      width: 25px;
      height: 25px;
    }
  
    a:hover {
      transform: scale(1.05);
    }
  
    td img:hover {
      transform: scale(1.05);
    }
  }
  