@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);


body {

  /* flex-direction: row; */
  font-family: "Poppins", sans-serif;
  background-color: #979ea5;

  display: flex;
  flex-flow: wrap;
  
  justify-content: center;
  /* align-items: center; */
  position: relative;

  text-align: center;
}

#menuContainer {
  position: absolute;
  top: 5px;
  left: center;
  margin-left: 0;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: flex-start; */
}
#menuContainer ul {
  list-style-type: none;
  padding: 0;
  /* margin: 0; */
  /* display: flex;  */
}
#menuContainer ul li {
  margin-bottom: 10px;
  display: inline-block;
}
#menuContainer ul li a {
  transition: background-color 0.01s ease-in-out, color 0.1s ease-in-out;

  /*налаштування кнопок історія, рекомендації і тд.*/
  border: 2px solid #dae9f9;
  display: flex;  
  padding: 5px 15px;
  background-color: #FFFFFF;
  border-radius: 100px;
  text-decoration: none;
  color: #333;
  font-size: 16px;
}
#menuContainer ul li a:hover {
  background-color: #00ABE4;
  color: #fff;
}
#menuContainer ul li a img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.happy{
  color: green;
}
.negative{
  color: red;
}

.snip1533 {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  color: #9e9e9e;
  display: inline-block;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;

  margin: 100px 10px 10px;
  max-width: 310px;
  min-width: 250px;
  position: relative;
  text-align: center;
  width: 100%;
  background-color: #ffffff;
  border-radius: 50px;
  border-top: 5px solid #d2652d;
}

/* .snip1533 *,
.snip1533 *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
} */

.snip1533 figcaption {
  padding: 13% 10% 15%;
}

.snip1533 figcaption:before {
  /* -webkit-transform: translateX(-50%); */
  /* transform: translateX(-50%); */
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: #d2652d;
  content: "\f10e";
  font-family: 'FontAwesome';
  font-size: 32px;
  /* font-style: normal; */
  /* left: 50%; */
  line-height: 60px;
  position: absolute;
  top: -30px;
  width: 60px;
}

.snip1533 h3 {
  color: #000000;
  font-size: 20px;
  font-weight: 5420;
  line-height: 24px;
  margin: 10px 0 5px;
}

.snip1533 h4 {
  font-weight: 100;
  margin: 0;
  opacity: .5;
}

.snip1533 blockquote {
  font-style: italic;
  font-weight: 5420;
  margin: 0 0 20px;
}



