body {
  min-height: 100vh;
  background: linear-gradient(to right, #dae9f9 0%, #c1deff 100%);

  
}

#menu .menuContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 0 10px;
}

.menuContainer {
  position: absolute;
  top: 5px;
  left: center;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.menuContainer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex; 
}
.menuContainer ul li {
  margin-bottom: 10px;
  display: inline-block;
}
.menuContainer ul li a {
  transition: background-color 0.01s ease-in-out, color 0.1s ease-in-out;

  /*налаштування кнопок історія, рекомендації і тд.*/
  border: 2px solid #dae9f9;
  display: flex;
  padding: 5px 15px;
  background-color: #FFFFFF;
  border-radius: 100px;
  text-decoration: none;
  color: #333;
  font-size: 16px;
}
.menuContainer ul li a:hover {
  background-color: #00ABE4;
  color: #fff;
}
.menuContainer ul li a img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

main.table{
  width: 82vw;
  height: 90vh;
  background-color: #93cee1;
  backdrop-filter: blur(7px);
  box-shadow: 0 .4rem 8rem #0005;
  border-radius: .8rem;

  overflow: hidden;
}
.table_header{
  width: 100%;
  height: 5%;
  background-color: rgb(171, 212, 225);
  padding: 1rem 1rem;

  display: flex;
  justify-content: center;
}

.table_body::-webkit-scrollbar{
  width: 0.5rem;
  height: 0.5rem;
}
.table_body::-webkit-scrollbar-thumb{
  border-radius: 5rem;
  background-color: #0004;
  visibility: hidden;
}

.table_body:hover::-webkit-scrollbar-thumb{
  visibility: visible;
}

td img{
  margin-right: .5rem;
  transition: transform 0.3s ease;
}

td img:hover{
  transform: scale(1.1);
}

a{
  transition: transform 0.3s ease;
}
a:hover{
  transform: scale(1.1);
}

table, th, td{
  border-collapse: collapse;
  padding: 1rem;
}

.description{
  width: 99%;
  max-height: calc(94% - .8rem);
  background-color: rgba(222, 248, 251, 0.733);
  
  margin: .7rem auto;
  border-radius: .6rem;
  overflow: auto;
}

table{
  width: 100%;
}


thead th{
  position: sticky;
  top: 0;
  left: 0;
  background-color: #a9c5dafe;
}

tbody td {
  text-align: center; 
  padding: 1rem;
}

tbody tr:nth-child(even){
  background-color: #0000000b;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #20536a;
}